		<!-- footer -->
		<div class="row" id="footer" style="height:7%">
			<div class="large-6 columns" style="padding:5px">
				<div class="box" id="card-11" onclick="toggleBox('card-11')">
					<div class="box-front" id="card-11f" style="background-color: green">
						<h2>11f</h2>
					</div>
					<div class="box-back" id="card-11b" style="background-color: gray">
						11b
					</div>   
				</div>
			</div>
			<div class="large-6 columns" style="padding:5px">
				<div class="box" id="card-12" onclick="toggleBox('card-12')">
					<div class="box-front" id="card-12f" style="background-color: green">
						<h2>12f</h2>
					</div>
					<div class="box-back-inv" id="card-12b" style="background-color: gray">
							12b
					</div>   
				</div>
			</div>
		</div>
		<!-- /footer -->
	
		<!-- Placeholder -->
		<div class="row" style="height:2.5%"></div>
		<!-- /Placeholder -->