    <!-- Header -->
    <div class="row" id="header"  style="height:16%">
			<div class="large-6 columns" style="padding:5px">
				<div class="box" id="card-1" onclick="toggleBox('card-1')">
					<div class="box-front" id="card-1f" style="background-color: red">
						<h1>1f</h1>
					</div>
					<div class="box-back" id="card-1b" style="background-color: blue">
						1b
					</div>   
				</div>
			</div>
			<div class="large-6 columns" style="padding:0px">
				<div class="row" style="height:50%; margin:0px; padding:5px; margin-bottom:5px; padding-bottom:0px">
					<div class="box" id="card-2" onclick="toggleBox('card-2')">
						<div class="box-front" id="card-2f" style="background-color: red; line-height:50%">
							Search
						</div>
						<div class="box-back-inv" id="card-2b" style="background-color: blue">
							<div class="small-9 columns">
				          <input type="text" placeholder="small-9.columns">
				      </div>
							<div class="small-3 columns">
				         <span class="postfix"><i class="fa-adjust"></span>
				      </div>
						</div>   
					</div>
				</div>
				<div class="row" style="height:50%; margin:0px; padding:5px; margin-bottom:5px; padding-bottom:0px">
					<div class="box" id="card-3" onclick="toggleBox('card-3')">
						<div class="box-front" id="card-3f" style="background-color: red">
							<h1>3f</h1>
						</div>
						<div class="box-back-inv" id="card-3b" style="background-color: blue">
							3b
						</div>   
					</div>
				</div>
			</div>    
      </div>      
		</div>
		<!-- /Header -->