<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MiniDigger.me | Welcome</title>
    <style type="text/css">
    {% include css/foundation.css %}
    {% include css/boxflip.css %}
		{% include css/font-awesome.min.css %}
    </style>
    <script> 
    {% include js/vendor/modernizr.js %}
    {% include js/vendor/jquery.js %}   
    {% include js/contentcreator.js %}
    </script>
  </head>
	<body style="background-color: black">
		<!-- Placeholder -->
		<div class="row" id="placeholder" style="height:5%"></div>
		<!-- /Placeholder -->