    <!-- Nav -->
		<div class="row" id="nav" style="height:7%">
			<div class="small-2 columns" style="padding:5px">
				<div class="box" id="card-4" onclick="toggleBox('card-4')">
					<div class="box-front" id="card-4f" style="background-color: darkkhaki">
						<h2>4f</h2>
					</div>
					<div class="box-back-top" id="card-4b" style="background-color: yellow">
						4b
					</div>   
				</div>
			</div>
			<div class="small-3 columns" style="padding:5px">
				<div class="box" id="card-5" onclick="toggleBox('card-5')">
					<div class="box-front" id="card-5f" style="background-color: darkkhaki">
						<h2>5f</h2>
					</div>
					<div class="box-back-top" id="card-5b" style="background-color: yellow">
						5b
					</div>   
				</div>
			</div>
			<div class="small-2 columns" style="padding:5px">
				<div class="box" id="card-6" onclick="toggleBox('card-6')">
					<div class="box-front" id="card-6f" style="background-color: darkkhaki">
						<h2>6f</h2>
					</div>
					<div class="box-back-top" id="card-6b" style="background-color: yellow">
						6b
					</div>   
				</div>
			</div>
			<div class="small-3 columns" style="padding:5px">
				<div class="box" id="card-7" onclick="toggleBox('card-7')">
					<div class="box-front" id="card-7f" style="background-color: darkkhaki">
						<h2>7f</h2>
					</div>
					<div class="box-back-top" id="card-7b" style="background-color: yellow">
						7b
					</div>   
				</div>
			</div>
			<div class="small-2 columns" style="padding:5px">
				<div class="box" id="card-8" onclick="toggleBox('card-8')">
					<div class="box-front" id="card-8f" style="background-color: darkkhaki">
						<h2>8f</h2>
					</div>
					<div class="box-back-top" id="card-8b" style="background-color: yellow">
						8b
					</div>   
				</div>
			</div>
		</div>
		<!-- /Nav -->