---
layout: default
---
    
    {% include html-start.html %}
    {% include header.html %}
		{% include nav.html %}
		{% include breadcrumbs-start.html %}
							<a href="#">Home</a>
							<a href="#">Features</a>
							<a class="unavailable" href="#">Gene Splicing</a>
							<a class="current" href="#">Cloning</a>
    {% include breadcrumbs-end.html %}
		
		<!-- content -->
		<div class="row" id="content">
			{{content}}
		</div>
		<!-- /content -->
    
    {% include footer.html %}
	
		<!-- Joyride -->
		<ol class="joyride-list" data-joyride>
			<li data-text="Next">
				<h4>HELLO.</h4>
				<p>Hello and welcome to the Help-Tour</p>
			</li>
			<li data-id="header" >
				<h4>Boxes</h4>
				<p>You can flip this boxes by pressing them!</p>
			</li>
			<li data-id="nav" data-button="Next" data-options="tipLocation:top;tipAnimation:fade">
				<h4>Navigation</h4>
				<p>Use these boxes to navigate thru my site</p>
			</li>
			<li data-button="End">
				<h4>Stop #3</h4>
				<p>It works as a modal too!</p>
			</li>
		</ol>

    {% include html-end.html %}